
.padrepepsi {
    width: 50vh;
    height: 50vh;

    background-color: rgb(232, 232, 232);
    border: rgb(36, 66, 235) solid 4px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto {
    color: rgb(11, 57, 148);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-top: 30px;
}

.logo {
    width: 200px;
    height: 170px;
    border-radius: 100%;
    border: groove rgb(66, 57, 238) 8px;
}